# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Env files
.env

# Virtual environment
venv/
.env/
.venv/

# VS Code
.vscode/

# Static files
staticfiles/

# System files
.DS_Store
Thumbs.db
